body {
    background: #ef9a9d;
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.app {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "top"
        "middle"
        "submit"
        "bottom";
    background: #ef9a9d;
}

.headline {
    display: flex;
    grid-area: top;
    text-align: center;
    font-size: 2em;
    padding: 1em 1em;
    color: #212122;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
}

.holder {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;

    @media (max-width: 991px) {
        flex-direction: column;
    }
}

// input section 
.inputHolder {
    display: grid;
    grid-area: middle;
    padding: 20px;
    grid-gap: 10px;
    // Mobile viewport
    grid-template-areas:
        "location"
        "date"
        "notes";

    //tablets and desktop
    @media (min-width: 992px) {
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "location notes"
            "date notes";
    }
}

#holderLocation {
    grid-area: location;
}

#holderDate {
    grid-area: date;
}

#holderNotes {
    grid-area: notes;
}

// button
.submit {
    display: flex;
    justify-content: center;
    grid-area: submit;
    padding: 0.5em;
}

button {
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 30px;
    width: 150px;
    height: 90px;
    background: #4663c4;
}

button:active {
    background: orange;
}

// result section

.resultHolder {
    display: flex;
    justify-content: center;
    grid-area: bottom;
    font-size: 1.5em;
}

// names of sections
label {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}


// input sections
input {
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 0.5em;
    width: auto;
    background: #adbdf0;
}

textarea {
    height: 300px;
    padding: 0.5em;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    width: 90%;
    background: #adbdf0;
}

//image

#image {
    width: 100%;
    height: auto;
}