<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
</head>

<body>
  <div class="app" id="app">
    <div class="headline">
      Travel App
    </div>
    <div class="inputHolder" id="inputHolder">
      <div class="holder" id="holderLocation">
        <label for="location">Place to visit</label>
        <input type="text" id="location" placeholder="enter location here">
      </div>
      <div class="holder" id="holderDate">
        <label for="date">Date</label>
        <input type="date" id="date" placeholder="Enter the date">
      </div>
      <div class="holder" id="holderNotes">
        <label for="notes">Add your notes</label>
        <textarea class="myInput" id="notes" placeholder="Enter your notes here" rows="9" cols="50"></textarea>
      </div>
    </div>
    <div class="submitBtn" id="submitBtn">
      <button id="submit" type="submit"> Submit request </button>
    </div>
    <div class="resultHolder" id="resultHolder">
      <div class="holder" id="holderTripInfo">
        <label class="title">Information about the trip</label>
        <div id="entryHolder">
          <div id="cityName"></div>
          <div id="startDate"></div>
          <div id="temp"></div>
          <div id="content"></div>
          <img id="image" />
        </div>
      </div>
    </div>

  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
          .then(registration => console.log("Service worker registered", registration))
      });
    }
  </script>
</body>

</html>